*{
    margin: 0;
    /* background-color: rgba(240, 248, 255, 0.8) */
}

.fbia .fbia_header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(94 139 61 / 79%);
    padding: 0px 70px;
}

.fbia .fbia_header .fbia_menu{
    display: flex;
    list-style-type: none;
    gap: 40px;
    font-size: larger;
    align-items: center; 
}

.fbia .fbia_header .fbia_menu li{
    overflow: hidden;
}

.fbia .fbia_header .fbia_menu a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
    letter-spacing: 0.8px;
    position: relative;
    
}

.fbia .fbia_header .fbia_menu a::after{
    content: attr(data-attr);
    position: absolute;
    left: 0;
    bottom: 100%;
}

.fbia .fbia_header .fbia_menu a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 100%;
    height: 2px;
    background-color: #e2ffb1;
    width: 100%;
}

.fbia .fbia_header .fbia_menu a:hover{
    color: #fff;
    transform: translateY(100%);
}

.fbia_about{
    display: flex;
    justify-content: space-between;
       
}

.fbia .fbia_header img{
    height: 100px;
    width: 150px;
    filter: brightness(0) invert(1);
}