*{
    margin: 0;
    /* background-color: rgba(240, 248, 255, 0.8) */
}
.fbia .fbia_header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(206, 204, 204, 0.468)
}


.fbia .fbia_header .fbia_menu{
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: larger;
    
    align-items: center; 
}
.fbia .fbia_header .fbia_menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.fbia .fbia_header .fbia_menu a:hover{
color: darkolivegreen;
}
.fbia_about{
    display: flex;
    justify-content: space-between;
}
.fbia .fbia_header img{
    height: 100px;
    width: 150px;
    
}













.fbia .fbia_about_detail{
    position: relative;
    top: 250px;
    left: 180px;
}

.fbia .fbia_about_detail a{
    border: 2px solid rgb(89, 116, 178);
    padding: 6px;
    margin-top: 5px;
    position: absolute;
    text-decoration: none;
    color:rgba(12, 174, 233, 0.936);
    font-size: 20px;
    font-weight: bold;
}

.fbia .fbia_about_detail .decorate{
    color:rgba(226, 191, 75, 0.899);
    text-transform: uppercase;
}

.fbia .fbia_about_photo img{
    height: 400px;
    width: 630px;
}

.fbia .fbia_about .fbia_about_photo{
    justify-content: space-between;
    position: absolute;
    top: 280px;
    left: 810px;
    
}


.fbia .fbia_about_detail a:hover{
    background-color: rgba(226, 191, 75, 0.899);
}

.txt1, .txt2, .txt3, .txt4, .txt5{
    color: rgb(89, 116, 178);
    font-size: 40px;
    position: relative;
    animation: textreveal 3s forwards;
   
}




