

/* Jafri */
.fbia .fbia_about .fbia_about_detail .fbia_about_photo{
    display: flex;
    flex-direction: column;
    

}

.fbia .fbia_about{
    justify-content: center;
}

.fbia .fbia_about{
    align-items: center;
}

.fbia .fbia_about_detail a{
    border: 2px solid rgb(89, 116, 178);
    padding: 6px;
    margin-top: 5px;
    text-decoration: none;
    color:rgba(12, 174, 233, 0.936);
    font-size: 20px;
    font-weight: bold;
}

.fbia .fbia_about_detail .decorate{
    color:rgba(226, 191, 75, 0.899);
    text-transform: uppercase;
}

.fbia .fbia_about_photo img{
    height: 400px;
    width: 630px;
}

.fbia .fbia_about_detail a:hover{
    background-color: rgba(226, 191, 75, 0.899);
}


.fbia .fbia_about_detail .txt1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color:rgb(80, 117, 163);
    
}

.fbia .fbia_about_detail .txt2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color:rgb(80, 117, 163);
    
}

.fbia .fbia_about_detail .txt3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: rgb(80, 117, 163);
    
}

.fbia .fbia_about_detail a{
    border: 2px solid rgb(89, 116, 178);
    padding: 6px;
    position: absolute;
    text-decoration: none;
    color:rgba(12, 174, 233, 0.936);
    font-size: 20px;
    font-weight: bold;
}

.fbia .fbia_about_detail .decorate{
    color:rgba(226, 191, 75, 0.899);
    text-transform: uppercase;
}  
    

.fbia .fbia_about_detail a:hover{
    background-color: rgba(226, 191, 75, 0.899);
}